@tailwind base;
@tailwind components;
@tailwind utilities;

.wallet-adapter-button-trigger {
  background: linear-gradient(to right, #4f46e5, #7c3aed) !important;
  transition: opacity 0.3s ease !important;
}

.wallet-adapter-button-trigger:hover {
  opacity: 0.85 !important;
}

main {
  position: relative;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 1;
}